.nav-primary {
    position: sticky;
    margin-bottom: 50px;
    top: 0;
    background: var(--color-secondary);
    padding: 22px 0;
    z-index: 1;
    ul {
        display: flex;
        justify-content: space-between;
        gap: 90px;
        width: clamp(310px, 90vw, $max-breakpoint);
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
    a, a:link, a:visited {
        position: relative;
        padding: 5px 8px;
        border-radius: 20px;
        font-size: #{to-rems(14px)};
        line-height: #{to-rems(15px)};
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-lightest);
        &::before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: var(--color-lightest);
            transform:  scaleX(0);
            transition: all .3s ease-out;
            content: '';
          }
    }
    a:hover, a:active {
          &::before {
            transform:  scaleX(1);
          }
    }
    li.active a {
        background: var(--color-primary);
        &::before {
            display: none;
        }
    }
}