<div class="card has--logo">
	<div class="card-header">
		<h1>Mini Static Thingy Wingy</h1>
	</div>
	<div class="card-body">
		<h2>What's it about?</h2>
		<p>In a world full of frameworks, packages and guidelines, it's sometimes a bit of an overkill to use all of these frameworks. Sometimes you just want to create a simple page or a sandbox to play in.</p>
		<p>The Mini Static Thingy Wingy was created with just one thing in mind: An easy setup for a simple HTML and CSS driven page. This could be a landing page, a small demo, or an HTML presentation.</p>
		<p>By using Twig as a templating engine and postcss + scss to handle the styling, it's a very simple setup. The Thingy is not ment to be
			<em>the next new thing</em>, it's ment to be mini, and static, to create something on the fly (wing it)</p>
		<h2>How to run it</h2>
		<p>Make sure you have the lateste node version installed. Simply download the main directory and run:</p>
		<pre>npm install</pre>
		<p>Now you are ready to build! To start watching you files for changes, run the following:</p>
		<pre>npm run dev</pre>
		<p>This will start the server and you'll already have a live reload on your index.twig file and your .scss file. In the next part, i'll go a bit more in-depth, but don't worry, it's easy</p>
		<p>When you're happy with your result and want to build this, just add the following command which will create a build folder at the root of you projects, with your HTML, CSS, JS files (and other assets):</p>
		<pre>npm run build:production</pre>
		<p>
			<strong>Note:
			</strong>The CSS is automatically injected before the closing of the head tag, whilde JS is automatically added before the closing of the body tag</p>
	</div>
</div>
