<div class="card">
	<div class="card-header">
		<h2 class="h1">How to build</h2>
	</div>
	<div class="card-body">
        <p>Ofcourse, just building one file isn't enough, here are some of the things you can do to build your static website</p>
		<h3 class="h2">Creating template files</h3>
        <p>In the root of your project, you can find a <strong>templates.json</strong> file. When you first open the project, it will look like this:</p>
        <pre>
[
    {
        "filename": "./index.html",
        "template": "./templates/index.twig"
    }
]</pre>          
        <p>Whenever you want to create a new html file in your end build, you'll have to add another line. The first line is the output filename, and the second one is the input.</p>
        <pre>
[
    {
        "filename": "./index.html",
        "template": "./templates/index.twig"
    },
    {
        "filename": "./my-new-file.html",
        "template": "./templates/original-new-file.twig"
    }
]</pre>
        <h3 class="h2">Other commands</h3>
        <pre>npm run build</pre>
        <p>Will build the files without minifying or combining of css. This is a development output.</p>
        <pre>npm run watch</pre>
        <p>Will build the files without minifying or combining of css and watch for changes, will rebuild on change. This is slower than running the dev server.</p>
        <pre>npm run install:demo</pre>
        <p>This will install some demo files with examples and start the server. <strong>Be careful, as this might overwrite items in your src folder</strong></p>
	</div>
</div>