{% extends './_base.twig' %}
{% set activePage = "about" %}

{% block main %}
	<div class="card has--logo">
		<div class="card-header">
			<h1>About Brecht</h1>
		</div>
		<div class="card-body">
			<div class="about-info">
				<div>
					<p>I'm a passionate front-end developer located in Belgium, born in 1987.</p>
				</div>
				<figure>
					<img src="{{ assets }}img/general/brecht-de-ruyte.jpg" class="profile-image"/>
				</figure>
			</div>
		</div>
	</div>
{% endblock %}
