{% extends './_base.twig' %}
{% set activePage = "about" %}

{% block main %}
	<div class="card has--logo">
		<div class="card-header">
			<h1>About Brecht</h1>
		</div>
		<div class="card-body"></div>
	</div>
{% endblock %}
