{% extends './_base.twig' %}


{% block main %}
    <div class="container">
        <h1>Mini static thingy wingy!</h1>
        <h2>How you doing?</h2>
        <p>This is some awesome text</p>
        <p>Exercitation exercitation proident dolore consequat incididunt veniam nostrud dolor anim in duis veniam.</p>
    </div>
{% endblock %}
    