<nav class="nav-primary">
	<ul>
		<li {% if activePage == "index" %} class="active" {% endif %}>
			<a href="index.html">The thingy
				{% if activePage == "index" %}
					<span class="sr-only">Current page</span>
				{% endif %}
			</a>
		</li>
		<li {% if activePage == "about" %} class="active" {% endif %}>
			<a href="about.html">About me</a>
			{% if activePage == "about" %}
				<span class="sr-only">Current page</span>
			{% endif %}
		</li>
	</ul>
</nav>
