a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2.5vw;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-lightest);
    background: var(--color-primary);
    border-radius: 10px;
    transition: background .3s ease-out;
    svg {
        width: 1.9rem;
        height: 1.8rem;
        color: inherit;
    }
    &:hover, &:active {
        background: var(--color-secondary);
    }
}