:root {
    --code-block-bg: #f4f4f4;
    --code-block-color: #666;
    --code-block-border-color: #ccc;
}
pre {
    background: var(--code-block-bg);
    border: 1px solid var(--code-block-border-color);
    border-left: 3px solid var(--color-primary);
    color: var(--code-block-color);
    page-break-inside: avoid;
    font-family: var(--font-family-mono);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}