:root {
    --color-lightest: rgb(245, 245, 245);
    --color-darkest: rgb(39, 39, 39);
    --color-primary: rgb(153, 50, 204);
    --color-secondary: rgb(218, 112, 214);
    --color-secondary-02: rgba(218, 112, 214, .1);
}