{% extends '../_base.twig' %}
{% set assets = "../assets/" %}
    {% set activePage = "about" %}
    
    {% block main %}
        <div class="card">
            <div class="card-body">
                test
                </div>
            </div>
    {% endblock %}
    