body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1 {
    letter-spacing: .04em;
    font-size: 2rem;
    color: darkorchid;
}

h2 {
    color: whitesmoke;
}

h3 {
    color: green;//ignore me in the purge
}